.secondaryDiv{
    width: 200px;
   

   
}
.container{
    width: 200px;
    position: relative;
}
.logo{
    width: 50px;
     transition: .5s ease;
}
.logo:hover{
    width: 60px;
}

.artistImg:hover{
    cursor: pointer;
    
}

.container:hover .artistImg{
  opacity: 0.5;
}


.container:hover .middle {
  opacity: 1;
  
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.artistImg{
    width: 90%;
    border-radius: 50%;
     opacity: 1;
  display: block;

  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
.container:hover{
    cursor: pointer;
}
.mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}
p{
    text-align: center;
}
.artistName{
    font-weight: bold;
}
h1{
    font-size: 2rem;
}
